.button{
background-color:black;
border:none;
color:#5EE51B;
padding:15px 30px;
text-align:center;
text-decoration:inline;

font-size:16px;
width:%;
margin:25px 5px;
}

.menu2{
width:250px;
height:15px;
margin:20px auto;
}

